<div class="w-full bg-[#cddbee] shadow-sm">
  <header class="header">
      <div class="container mx-auto flex items-center justify-between py-4 px-4 md:px-8">
          <!-- Logo -->
          <div class="flex items-center mb-3"> <!-- Contenedor flex para logo y texto -->
            <img src="/assets/IconOnly_Transparent_NoBuffer.png" alt="Hidropozo Logo" class="h-14 mr-4">
            <span class="text-2xl font-bold text-white">HIDROPOZO S.R.L.</span>
          </div>
          <!-- Nombre de la empresa (visible en desktop) -->
          <!-- <div class="hidden md:block text-xl font-bold text-[#1e3a8a]">
              Hidropozo SRL
          </div> -->

          <!-- Menú de navegación (visible en desktop) -->
          <div class="hidden md:flex items-center gap-8">
              <a href="javascript:void(0)" (click)="scrollToSection('#inicio')" class="text-[#fff] hover:text-[#f59e0b] transition duration-300">Inicio</a>
              <a href="javascript:void(0)" (click)="scrollToSection('#servicios')" class="text-[#fff] hover:text-[#f59e0b] transition duration-300">Servicios</a>
              <a href="javascript:void(0)" (click)="scrollToSection('#nosotros')" class="text-[#fff] hover:text-[#f59e0b] transition duration-300">Nosotros</a>
              <a href="javascript:void(0)" (click)="scrollToSection('#contacto')" class="text-[#fff] hover:text-[#f59e0b] transition duration-300">Contacto</a>
          </div>
      </div>

  </header>
</div>
