/* No custom CSS needed as Tailwind CSS is used */

.highlight-field {
  border-color: #ffcc00 !important;
  box-shadow: 0 0 10px 3px rgba(255, 204, 0, 0.5) !important;
  transition: box-shadow 0.5s ease, border-color 0.5s ease !important;
}
